extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 William Daugherty

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm a highly motivated Full Stack JavaScript developer eager to gain more skills and experience. Not afraid to keep learning new things, I strive to benefit my team members and contribute to innovative projects.  
            | Whether working on the front or back end, I take an analytic and organized approach to coding environments and notation. Project highlights include API and web development. Check out my full project portfolio

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Express
          li Fetch API
          li jQuery
          li Regex
          li AJAX 
          li Node.js
          li Git
        h6 Contact Info

        ul
          li 941-538-1286
          li wd14link@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/william-daugherty-186354170/') LinkedIn
        a.button.expanded(href='https://github.com/Codenuggets') GitHub
        a.button.expanded(href='https://twitter.com/wheremynuggsat') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
