extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My Portfolio

      p.lead.text-light
        | Hi, my name is Will. I'm currently studying to become a Full Stack Javascript developer. This is my portfolio where my projects can be viewed!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      //- Loops though each project and displays the thumbnail image and name of project
      each project in projects
        .cell
          a(href='/projects/' + project.id)
            img.thumbnail#project(src=project.image_urls[0])
            h5=project.project_name
      

      
